
@{
    ViewData["Title"] = "Detail";
}

<!-- breadcrumb-banner-area -->
	<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Home</a></li>
								<li><a asp-controller="Team" asp-action="Index">Teacher</a></li>
								<li><span>kohinur tabassum</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->

	<!-- teacher-details-start -->
	<div class="teacher-details-area pt-60 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-teacher-details mb-30">
						<div class="teacher-details-img">
							<img src="~/assets/img/teacher/2.jpg" alt="" />
							<div class="details-link">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="teacher-details-info">
							<h4>kohinur tabassum</h4>
							<p>Professor, Dhaka University</p>
							<div class="our-teacher-content">
								<span><i class="fa fa-phone"></i>Phone: +1 (000) 234 5670 | +0800 12345</span>
								<span><i class="fa fa-envelope"></i>Email: admin@power-boosts.com</span>
								<span><i class="fa fa-skype"></i>Skype: hastech</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="single-teacher-about">
						<div class="single-title">
							<h3>About</h3>
						</div>
						<div class="teacher-about-content">
							<span><i class="fa fa-graduation-cap"></i>Degree: Spanish Literature Master</span>
							<span><i class="fa fa-star"></i>Experience: 5 Years in Preschool Education</span>
							<span><i class="fa fa-heart"></i>Hobbies: Music, Dancing and Family</span>
							<span><i class="fa fa-edit"></i>My Courses: Paint Kiddie, Mini Kiddie</span>
						</div>
						<p>He works in partnership with clients, advising them how to use information technology in
							order to meet their usiness objectives or overcome problems. Lorem ipsum dolor sit amet,
							consectetur adipiscing elites. Nulla convallis egestas rhoncusa. Donec lorem facilisis
							fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam Proin vestibulum leo eget
							erat congue interdum.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elites. Nulla convallis egestas rhoncusa.
							Donec lorem facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam Proin
							vestibulum leo eget erat congue interdum. Nulla convallis egestas rhoncusa. Donec lorem
							facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam Proin vestibulum
							leo eget erat congue interdum.</p>
					</div>
					<div class="schedule-skill-wrapper">
						<div class="row">
							<div class="col-md-6">
								<div class="single-title">
									<h3>My Schedule</h3>
								</div>
								<div class="schedule-text tx mb-30">
									<span>Monday <span class="schedule-time">9AM - 3PM</span></span> <span>Tuesday <span
											class="schedule-time">9AM - 3PM</span></span> <span>Sunday <span
											class="schedule-time">9AM - 3PM</span></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="single-title">
									<h3>My Skills</h3>
								</div>
								<div class="single-about mb-30">
									<div class="our-skill">
										<h6 class="progress-titles">Language<span>80%</span></h6>
										<div class="progress">
											<div class="progress-bar wow fadeInLeft" role="progressbar"
												aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
												style="width: 85%;" data-wow-duration="2s" data-wow-delay=".5s">
											</div>
										</div>
										<h6 class="progress-titles">Drawing<span>90%</span></h6>
										<div class="progress">
											<div class="progress-bar wow fadeInLeft" role="progressbar"
												aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
												style="width: 75%;" data-wow-duration="2s" data-wow-delay=".5s">
											</div>
										</div>
										<h6 class="progress-titles">Paint<span>100%</span></h6>
										<div class="progress">
											<div class="progress-bar wow fadeInLeft" role="progressbar"
												aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
												style="width: 70%;" data-wow-duration="2s" data-wow-delay=".5s">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- teacher-details-end -->

