@{
    ViewData["Title"] = "Index";
    int count = ViewBag.TakeCount;
    int page = Model.PageCount;
    int productNum = ((Model.CurrentPage - 1) * count) + 1;
    int previous = Model.CurrentPage - 1;
    int next = Model.CurrentPage + 1;
}

<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
                            <li><span>Universiteler</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- courses-area-start -->
<div class="courses-area pt-80 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h3>Universiteler </h3>
            <p>Our preschool program has six dedicated classes</p>
        </div>
        <div class="row">
            @await Component.InvokeAsync("University")
        </div>
    </div>
</div>
<!-- courses-area-start -->
