
@{
    ViewData["Title"] = "Index";
}

<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
								<li><span>Universiteler</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->

	<!-- courses-area-start -->
	<div class="courses-area pt-80 pb-70">
		<div class="container">
			<div class="section-title text-center">
				<h3>Universiteler </h3>
				<p>Our preschool program has six dedicated classes</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/1.jpg" alt="" />
								<span class="class-dates">Mar 9 <span>2017</span></span>
							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">Computer Science</a></h3>
								<div class="class-schedule">
									<span>Duration: 18</span>
									<span>Sit Available: 25</span>
								</div>
								<p>
									Lorem Ipsum is simply dummy text of the printin and typesetting industry. Lorem
									Ipsum has been the industry’s standard…
								</p>
								<span class="arrow"><a href="course-details.html">Read More</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/2.jpg" alt="" />
								<span class="class-dates">Mar 9 <span>2017</span></span>
							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">Micro Biolog</a></h3>
								<div class="class-schedule">
									<span>Duration: 18</span>
									<span>Sit Available: 25</span>
								</div>
								<p>
									Lorem Ipsum is simply dummy text of the printin and typesetting industry. Lorem
									Ipsum has been the industry’s standard…
								</p>
								<span class="arrow"><a href="course-details.html">Read More</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/3.jpg" alt="" />
								<span class="class-dates">Mar 9 <span>2017</span></span>
							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">CPolitical Science</a></h3>
								<div class="class-schedule">
									<span>Duration: 18</span>
									<span>Sit Available: 25</span>
								</div>
								<p>
									Lorem Ipsum is simply dummy text of the printin and typesetting industry. Lorem
									Ipsum has been the industry’s standard…
								</p>
								<span class="arrow"><a href="course-details.html">Read More</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- courses-area-start -->

