<footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">© 2023 Aztürkbir.az <a href="https://butagrup.com.tr/?lang=az">Buta Grup</a></span>
        </div>
        </footer>