<header>
		<div class="header-top-area blue-bg customclass1 p-4">
			<div class="container-fluid">
				<div class="row flex-nowrap">
					<div class="col-md-3 col-3 d-flex align-items-center" style="width:122px">
						<a href="https://instagram.com/"><i class="fa fa-instagram fa-lg text-white mx-2"></i></a>
						<a href="https://facebook.com/"><i class="fa fa-facebook fa-lg text-white mx-2"></i></a>
						<a href="https://vimeo.com/"><i class="fa fa-youtube-square fa-lg text-white mx-2"></i></a>
					</div>
					<div class="col-md-9 col-8 ms-auto header-text text-light">
						<strong>Azerbaycan Üniversitesi Türkiye Cumhuriyyeti Öğrencileri Birliği</strong>
					</div>
				</div>
			</div>
		</div>
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg bg-light">

			<div class="container">
				<a class="navbar-brand custom-brand-class" asp-controller="home" asp-action="index"><img src="~/assets/img/2.png" alt="" /></a>
				<button class="navbar-toggler custom-nav-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-controller="home" asp-action="index"><strong>Ana Sayfa</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="about" asp-action="index"><strong>Hakkımızda</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="team" asp-action="index"><strong>Ekibimiz</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="university" asp-action="index"><strong>Universitetler</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="news" asp-action="index"><strong>Haberler</strong></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<strong>Işlemler</strong>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Dosya Açtırma</strong></a>
								</li>
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Öğrenciliği Tanıtma</strong></a>
								</li>

								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Askerlik İşlemleri</strong></a>
								</li>
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Yurtdışı Öğrenci Belgesi</strong></a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="contact" asp-action="index"><strong>Iletişim</strong></a>
						</li>
						
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<strong>Admin</strong>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item navbar-drop" asp-area="admin" asp-controller="dashboard" asp-action="index"><strong>Admin Panel</strong></a>
								</li>
								<li>
									<a class="dropdown-item navbar-drop" asp-controller="account" asp-action="logout" asp-route-ReturnUrl="@Context.Request.Path.Value"><strong>LogOut</strong></a>
								</li>
							</ul>
						</li>
						}
					</ul>
				</div>
			</div>
		</nav>
		</div>
	</header>