<header>
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg bg-light">

			<div class="container">
				<a class="navbar-brand custom-brand-class" asp-controller="home" asp-action="index"><img class="img-logo-header" src="~/assets/img/@ViewBag.Logo" alt="" /></a>
				<button class="navbar-toggler custom-nav-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-controller="home" asp-action="index"><strong>Ana Sayfa</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="about" asp-action="index"><strong>Hakkımızda</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="team" asp-action="index"><strong>Ekibimiz</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="university" asp-action="index"><strong>Universitetler</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="news" asp-action="index"><strong>Haberler</strong></a>
						</li>
						@*<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<strong>Işlemler</strong>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Dosya Açtırma</strong></a>
								</li>
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Öğrenciliği Tanıtma</strong></a>
								</li>

								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Askerlik İşlemleri</strong></a>
								</li>
								<li>
									<a class="dropdown-item navbar-drop" href="#"><strong>Yurtdışı Öğrenci Belgesi</strong></a>
								</li>
							</ul>
						</li>*@
						<li class="nav-item">
							<a class="nav-link" asp-controller="contact" asp-action="index"><strong>Iletişim</strong></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

								@*<style>
									.img-logo-header{
										width:25%;
									}
									@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
								</style>*@