@{
    ViewData["Title"] = "Index";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/1.jpg)">
            <div class="container">
                <div class="slider-text">
                    <h3>Herkes İçin Eğitim</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
                        condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
                    </p>
                    <a href="#">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/2.jpg)">
            <div class="container">
                <div class="slider-text text-center">
                    <h3>Education For Everyone</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
                        condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
                    </p>
                    <a href="#">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/1.jpg)">
            <div class="container">
                <div class="slider-text">
                    <h3>Education For Everyone</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
                        condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
                    </p>
                    <a href="#">Daha Fazla</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
<!-- courses-area-start -->
<div class="courses-area pb-50 w-75 mx-auto">
    <div class="container">
        <div class="section-title text-center mt-5">
            <h3>UNİVERSİTELER</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-courses mb-30">
                    <div class="courses-img">
                        <a href="course-details.html">
                            <img src="~/assets/img/courses/bdu.jpg" alt="" />

                        </a>
                    </div>
                    <div class="courses-text">
                        <div class="class-des">
                            <h3><a href="course-details.html">Üniversite ismi</a></h3>
                            <div class="class-schedule">
                                <ul>
                                    <li>Şehir:<span></span></li>
                                    <li>Dil-Hazırlık eğitimi:</li>
                                    <li>Öğrenci sayı:</li>
                                    <li>Fakülte sayı:</li>
                                    <li>Statü:</li>
                                </ul>
                            </div>
                            <span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-courses mb-30">
                    <div class="courses-img">
                        <a href="course-details.html">
                            <img src="~/assets/img/courses/bdu.jpg" alt="" />
                        </a>
                    </div>
                    <div class="courses-text">
                        <div class="class-des">
                            <h3><a href="course-details.html">Üniversite ismi</a></h3>
                            <div class="class-schedule">
                                <ul>
                                    <li>Şehir:<span></span></li>
                                    <li>Dil-Hazırlık eğitimi:</li>
                                    <li>Öğrenci sayı:</li>
                                    <li>Fakülte sayı:</li>
                                    <li>Statü:</li>
                                </ul>
                            </div>
                            <span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-courses mb-30">
                    <div class="courses-img">
                        <a href="course-details.html">
                            <img src="~/assets/img/courses/bdu.jpg" alt="" />

                        </a>
                    </div>
                    <div class="courses-text">
                        <div class="class-des">
                            <h3><a href="course-details.html">Üniversite ismi</a></h3>
                            <div class="class-schedule">
                                <ul>
                                    <li>Şehir:<span></span></li>
                                    <li>Dil-Hazırlık eğitimi:</li>
                                    <li>Öğrenci sayı:</li>
                                    <li>Fakülte sayı:</li>
                                    <li>Statü:</li>
                                </ul>
                            </div>
                            <span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- courses-area-start -->
<!-- gallery-area-start -->
<div class="gallery-area pb-70 w-75 mx-auto">
    <div class="container">
        <div class="section-title text-center">
            <h3>FOTOĞRAF GALERİMİZ</h3>
            <p>
                Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/1.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/1.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/2.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/2.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/3.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/3.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/4.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/4.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/5.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/5.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-gallery mb-30">
                    <div class="gallery-img">
                        <a href="#"><img src="~/assets/img//gallery/6.jpg" alt="" /></a>
                    </div>
                    <div class="gallery-icon">
                        <a class="image-link" href="~/assets/img/gallery/6.jpg"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery-area-end -->
<!-- testimonial-area-start -->

<div class="d-flex container-fluid w-75" style="margin-bottom:60px;margin-left:280px;">
    <div id="carouselExampleDark" class="carousel carousel-dark slide w-50" data-bs-ride="carousel"
         style="background-color: rgb(236, 236, 236);">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <h5 class="text-center">İştirakçı fikirləri</h5>
                <img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/1.jpg" class="d-block" alt="...">
                <p class="text-center">Some representative placeholder content for the first slide.</p>


            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <h5 class="text-center">İştirakçı fikirləri</h5>
                <img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/2.jpg" class="d-block" alt="...">
                <p class="text-center">Some representative placeholder content for the first slide.</p>

            </div>
            <div class="carousel-item">
                <h5 class="text-center">İştirakçı fikirləri</h5>
                <img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/3.jpg" class="d-block" alt="...">
                <p class="text-center">Some representative placeholder content for the first slide.</p>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="">
        <img class="w-100" style="margin-top:10px;margin-left:70px;" src="~/assets/img/logo/1.png" alt="">
    </div>
</div>

<!-- testimonial-area-end -->
<!-- our-blog-area-start -->
<!-- <div class="our-blog-area pb-70 w-75 mx-auto">
    <div class="container">
        <div class="section-title text-center">
            <h3>For student</h3>
            <p>Latest news & event of our Student</p>
        </div>
        <div class="space-24">
            <div class="blog-active owl-carousel">
                <div class="single-blog mb-30">
                    <div class="bolg-img">
                        <a href="news-details.html"><img src="~/assets/img//blog/1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="news-details.html">variation of the ordinary lor</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>January 7, 2017</span>
                            <span><i class="fa fa-folder-o"></i>Corporate</span>
                            <span><i class="fa fa-comment"></i>0</span>
                        </div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classi…</p>
                        <a href="news-details.html">Read more</a>
                    </div>
                </div>
                <div class="single-blog mb-30">
                    <div class="bolg-img">
                        <a href="news-details.html"><img src="~/assets/img//blog/2.jpg" alt="" /></a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="news-details.html">Publishing and graphic desi</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>January 7, 2017</span>
                            <span><i class="fa fa-folder-o"></i>library</span>
                            <span><i class="fa fa-comment"></i>0</span>
                        </div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classi…</p>
                        <a href="news-details.html">Read more</a>
                    </div>
                </div>
                <div class="single-blog mb-30">
                    <div class="bolg-img">
                        <a href="news-details.html"><img src="~/assets/img//blog/3.jpg" alt="" /></a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="news-details.html">variation of the ordinary lor</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>January 7, 2017</span>
                            <span><i class="fa fa-folder-o"></i>library</span>
                            <span><i class="fa fa-comment"></i>0</span>
                        </div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classi…</p>
                        <a href="news-details.html">Read more</a>
                    </div>
                </div>
                <div class="single-blog mb-30">
                    <div class="bolg-img">
                        <a href="news-details.html"><img src="~/assets/img//blog/4.jpg" alt="" /></a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="news-details.html">Testing is a great thing</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>January 7, 2017</span>
                            <span><i class="fa fa-folder-o"></i>Convocation</span>
                            <span><i class="fa fa-comment"></i>0</span>
                        </div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classi…</p>
                        <a href="news-details.html">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our-blog-area-end -->
<!--FAQ Start-->
<div class="container">
    <div class="section-title text-center">
        <h3>FAQ</h3>
        <p>
            Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
        </p>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FAQ End-->
