
@{
    ViewData["Title"] = "Index";
}

<!-- slider-area-start -->
	<div class="slider-area">
		<div class="slider-active owl-carousel">
			<div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/1.jpg)">
				<div class="container">
					<div class="slider-text">
						<h3>Herkes İçin Eğitim</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
							condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
						</p>
						<a href="#">Daha Fazla</a>
					</div>
				</div>
			</div>
			<div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/2.jpg)">
				<div class="container">
					<div class="slider-text text-center">
						<h3>Education For Everyone</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
							condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
						</p>
						<a href="#">Daha Fazla</a>
					</div>
				</div>
			</div>
			<div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/slider/1.jpg)">
				<div class="container">
					<div class="slider-text">
						<h3>Education For Everyone</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu
							condimentum massa.<br> Pellentesque mollis eros vel mattis tempor. Aliquam eu efficitur enim
						</p>
						<a href="#">Daha Fazla</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider-area-end -->

	<!-- features-area-start -->
	<div class="features-area pt-80 pb-50 w-75 mx-auto">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-features text-center mb-30">
						<div class="icon-box">
							<i class="fa fa-paper-plane"></i>
						</div>
						<h5>İLERLEMELİ PROGRAMLAR</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-features text-center mb-30">
						<div class="icon-box">
							<i class="fa fa-check-square"></i>
						</div>
						<h5>ONLİNE EĞİTİM</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-features text-center mb-30">
						<div class="icon-box">
							<i class="fa fa-plane"></i>
						</div>
						<h5>ULUSLARARASI ÖĞRENCİLER</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- features-area-end -->

	<!-- subscribe-area-start -->

	<!-- subscribe-area-end -->

	<!-- courses-area-start -->
	<div class="courses-area pb-50 w-75 mx-auto">
		<div class="container">
			<div class="section-title text-center">
				<h3>UNİVERSİTELER</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/bdu.jpg" alt="" />

							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">Üniversite ismi</a></h3>
								<div class="class-schedule">
									<ul>
										<li>Şehir:<span></span></li>
										<li>Dil-Hazırlık eğitimi:</li>
										<li>Öğrenci sayı:</li>
										<li>Fakülte sayı:</li>
										<li>Statü:</li>
									</ul>
								</div>
								<span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/bdu.jpg" alt="" />
							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">Üniversite ismi</a></h3>
								<div class="class-schedule">
									<ul>
										<li>Şehir:<span></span></li>
										<li>Dil-Hazırlık eğitimi:</li>
										<li>Öğrenci sayı:</li>
										<li>Fakülte sayı:</li>
										<li>Statü:</li>
									</ul>
								</div>
								<span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-courses mb-30">
						<div class="courses-img">
							<a href="course-details.html"><img src="~/assets/img/courses/bdu.jpg" alt="" />

							</a>
						</div>
						<div class="courses-text">
							<div class="class-des">
								<h3><a href="course-details.html">Üniversite ismi</a></h3>
								<div class="class-schedule">
									<ul>
										<li>Şehir:<span></span></li>
										<li>Dil-Hazırlık eğitimi:</li>
										<li>Öğrenci sayı:</li>
										<li>Fakülte sayı:</li>
										<li>Statü:</li>
									</ul>
								</div>
								<span class="arrow"><a href="course-details.html">Daha Fazla</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- courses-area-start -->

	<!-- teacher-area-start -->
	<div class="teacher-area pb-70 w-75 mx-auto">
		<div class="container">
			<div class="section-title text-center">
				<h3> EKİBİMİZ </h3>
				<p>Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
				</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-teacher mb-30">
						<div class="teacher-img">
							<a href="teacher-details.html"><img src="~/assets/img//teacher/1.jpg" alt="" /></a>
						</div>
						<div class="teacher-text text-center">
							<h4>ashim kumar</h4>
							<span>Professor, Dhaka University</span>
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-teacher mb-30">
						<div class="teacher-img">
							<a href="teacher-details.html"><img src="~/assets/img//teacher/2.jpg" alt="" /></a>
						</div>
						<div class="teacher-text text-center">
							<h4>Archona Bala</h4>
							<span>Professor, Dhaka University</span>
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-teacher mb-30">
						<div class="teacher-img">
							<a href="teacher-details.html"><img src="~/assets/img//teacher/3.jpg" alt="" /></a>
						</div>
						<div class="teacher-text text-center">
							<h4>kohinur tabassum</h4>
							<span>Professor, Harvard College</span>
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- teacher-area-end -->

	<!-- gallery-area-start -->
	<div class="gallery-area pb-70 w-75 mx-auto">
		<div class="container">
			<div class="section-title text-center">
				<h3>FOTOĞRAF GALERİMİZ</h3>
				<p>Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
				</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/1.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/1.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/2.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/2.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/3.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/3.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/4.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/4.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/5.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/5.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-gallery mb-30">
						<div class="gallery-img">
							<a href="#"><img src="~/assets/img//gallery/6.jpg" alt="" /></a>
						</div>
						<div class="gallery-icon">
							<a class="image-link" href="~/assets/img/gallery/6.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- gallery-area-end -->

	<!-- testimonial-area-start -->

	<div class="d-flex container-fluid w-75" style="margin-bottom:100px;margin-left:280px;">
		<div id="carouselExampleDark" class="carousel carousel-dark slide w-50" data-bs-ride="carousel"
			style="background-color: rgb(236, 236, 236);">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<h5 class="text-center">İştirakçı fikirləri</h5>
					<img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/1.jpg" class="d-block" alt="...">
					<p class="text-center">Some representative placeholder content for the first slide.</p>


				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<h5 class="text-center">İştirakçı fikirləri</h5>
					<img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/2.jpg" class="d-block" alt="...">
					<p class="text-center">Some representative placeholder content for the first slide.</p>

				</div>
				<div class="carousel-item">
					<h5 class="text-center">İştirakçı fikirləri</h5>
					<img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/3.jpg" class="d-block" alt="...">
					<p class="text-center">Some representative placeholder content for the first slide.</p>

				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="">
			<img class="w-100" style="margin-top:10px;margin-left:70px;" src="~/assets/img/logo/1.png" alt="">
		</div>
	</div>

	<!-- testimonial-area-end -->

	<!-- our-blog-area-start -->
	<!-- <div class="our-blog-area pb-70 w-75 mx-auto">
		<div class="container">
			<div class="section-title text-center">
				<h3>For student</h3>
				<p>Latest news & event of our Student</p>
			</div>
			<div class="space-24">
				<div class="blog-active owl-carousel">
					<div class="single-blog mb-30">
						<div class="bolg-img">
							<a href="news-details.html"><img src="~/assets/img//blog/1.jpg" alt="" /></a>
						</div>
						<div class="blog-text">
							<h4><a href="news-details.html">variation of the ordinary lor</a></h4>
							<div class="blog-date">
								<span><i class="fa fa-calendar"></i>January 7, 2017</span>
								<span><i class="fa fa-folder-o"></i>Corporate</span>
								<span><i class="fa fa-comment"></i>0</span>
							</div>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
								piece of classi…</p>
							<a href="news-details.html">Read more</a>
						</div>
					</div>
					<div class="single-blog mb-30">
						<div class="bolg-img">
							<a href="news-details.html"><img src="~/assets/img//blog/2.jpg" alt="" /></a>
						</div>
						<div class="blog-text">
							<h4><a href="news-details.html">Publishing and graphic desi</a></h4>
							<div class="blog-date">
								<span><i class="fa fa-calendar"></i>January 7, 2017</span>
								<span><i class="fa fa-folder-o"></i>library</span>
								<span><i class="fa fa-comment"></i>0</span>
							</div>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
								piece of classi…</p>
							<a href="news-details.html">Read more</a>
						</div>
					</div>
					<div class="single-blog mb-30">
						<div class="bolg-img">
							<a href="news-details.html"><img src="~/assets/img//blog/3.jpg" alt="" /></a>
						</div>
						<div class="blog-text">
							<h4><a href="news-details.html">variation of the ordinary lor</a></h4>
							<div class="blog-date">
								<span><i class="fa fa-calendar"></i>January 7, 2017</span>
								<span><i class="fa fa-folder-o"></i>library</span>
								<span><i class="fa fa-comment"></i>0</span>
							</div>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
								piece of classi…</p>
							<a href="news-details.html">Read more</a>
						</div>
					</div>
					<div class="single-blog mb-30">
						<div class="bolg-img">
							<a href="news-details.html"><img src="~/assets/img//blog/4.jpg" alt="" /></a>
						</div>
						<div class="blog-text">
							<h4><a href="news-details.html">Testing is a great thing</a></h4>
							<div class="blog-date">
								<span><i class="fa fa-calendar"></i>January 7, 2017</span>
								<span><i class="fa fa-folder-o"></i>Convocation</span>
								<span><i class="fa fa-comment"></i>0</span>
							</div>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
								piece of classi…</p>
							<a href="news-details.html">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- our-blog-area-end -->

	<!-- counter-area-start -->
	<div class="counter-area bg-img bg-opacity-2 pt-60 pb-30 w-75 mx-auto">
		<div class="container ">
			<div class="row">
				<div class="col-md-3">
					<div class="single-counter text-center mb-30">
						<div class="counter-icon">
							<i class="fa fa-bank"></i>
						</div>
						<div class="counter-text">
							<h2 class="counter">20</h2>
							<span>Campus</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single-counter text-center mb-30">
						<div class="counter-icon">
							<i class="fa fa-user"></i>
						</div>
						<div class="counter-text">
							<h2 class="counter">30</h2>
							<span>Teacher</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single-counter text-center mb-30">
						<div class="counter-icon">
							<i class="fa fa-heart"></i>
						</div>
						<div class="counter-text">
							<h2 class="counter">50</h2>
							<span>Course</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single-counter text-center mb-30">
						<div class="counter-icon">
							<i class="fa fa-clock-o"></i>
						</div>
						<div class="counter-text">
							<h2 class="counter">55</h2>
							<span>Campus</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- counter-area-start -->

	<!-- service-area-start -->
	<div class="service-area pt-80 pb-50 w-75 mx-auto">
		<div class="container">
			<div class="section-title text-center">
				<h3>Get In Touch</h3>
				<p>Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet
					pulvinar praesent <br> molestiae maiores, quidem cumque!</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img//service/1.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Number phone</h5>
							<div class="excerpt">
								<span>Phone 1: 0(1234) 567 89012</span>
								<span>Phone 2: 0(987) 567 890</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img//service/2.png" alt="" />
						</div>
						<div class="service-text">
							<h5>AddressStreet</h5>
							<div class="excerpt">
								<span>Address : No 40 Baria Sreet 133/2 </span>
								<span>NewYork City, NY, United States.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img//service/3.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Telephone No.</h5>
							<div class="excerpt">
								<span>Fax 1: 0(1234) 567 89012</span>
								<span>Fax 2: 0(987) 567 890</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img//service/4.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Number phone</h5>
							<div class="excerpt">
								<span>info@bootexperts.com</span>
								<span>Nameyour@bootexperts.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- service-area-end -->

