@using Aztobir.Business.ViewModels.Home.University
@model UniversityVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data" accept-charset="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                    <img src="~/assets/img/media/@Model.Image" style="width:200px;"/>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="form-group">
                            <label asp-for="Photo"></label>
                            <input asp-for="Photo" class="form-control tinymce">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CityId">City</label>
                            <select asp-for="CityId" asp-items="@ViewBag.city" class="form-control tinymce">
                                <span class="text-danger" asp-validation-for="CityId"></span>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" class="form-control tinymce"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EducationPlan">Education Plan</label>
                        <textarea asp-for="EducationPlan" class="form-control tinymce"></textarea>
                        <span asp-validation-for="EducationPlan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select multiple asp-for="FacultiesId" asp-items="@ViewBag.faculty" class="form-control">
                                <span class="text-danger" asp-validation-for="FacultiesId"></span>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentCount">Telebe sayı</label>
                        <input asp-for="StudentCount" class="form-control tinymce">
                        <span asp-validation-for="StudentCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacultyCount">Fakulte sayı</label>
                        <input asp-for="FacultyCount" class="form-control tinymce">
                        <span asp-validation-for="FacultyCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EducationLanguage">Dil hazırlık eğitimi</label>
                        <input asp-for="EducationLanguage" class="form-control tinymce">
                        <span asp-validation-for="EducationLanguage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status">Statü</label>
                        <input asp-for="Status" style="margin-top:4px;">
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section ScriptModal{
    <partial name="_AdminValidationScriptsPartial" />
}*@

