
@{
    ViewData["Title"] = "Detail";
}

<!-- breadcrumb-banner-area -->
	<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Home</a></li>
								<li><a asp-controller="News" asp-action="Index">News</a></li>
								<li><span>Publishing and graphic desi</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->

	<!-- blog-story-start -->
	<div class="blog-story-area pt-60 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-story mb-30">
						<div class="blog-img-2">
							<img src="~/assets/img/blog/2.jpg" alt="" />
						</div>
						<div class="blog-heading">
							<h1>Publishing and graphic desi</h1>
						</div>
						<div class="story-hbtitle">
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
								piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<h4>Industry description</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry’s standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book. It has
								survived not only five centuries, but also the leap into electronic typesetting,
								remaining essentially unchanged.</p>
							<h4>Standard dummy text</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry’s standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type specimen book. It has
								survived not only five centuries, but also the leap into electronic typesetting,
								remaining essentially unchanged.</p>
							<h4>Software Testing</h4>
							<p>Over 37 lectures and 55.5 hours of content!LIVE PROJECT End to End Software Testing
								Training Included.Learn Software Testing and Automation basics from a professional
								trainer from your own desk.Information packed practical training starting from basics to
								advanced testing techniques.Best suitable for beginners to advanced level users and who
								learn faster when demonstrated.Course content designed by considering current software
								testing technology and the job market.Practical assignments at the end of every
								session.Practical learning experience with live project work and examples.</p>
							<p>Pellentesque lacus vamus lorem arcu semper duiac Cras ornare arcu avamus nda leo. Etiam
								ind arcu. Morbi justo mauri segtempus pharetra interdum congue semper purus. Lorem ipsum
								dolor sit amet sed consectetur adipisicing elit sed eiusmod tempor incididunt Lorem
								ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
						<div class="meta-info">
							<span class="meta-item"><i class="fa fa-clock-o"></i>March 6, 2017</span>
							<span class="meta-item"><i class="fa fa-user"></i><a href="#">devwplay_hastech</a></span>
							<span class="meta-item"><i class="fa fa-folder-open-o"></i><a href="#">Facility</a></span>
						</div>
						<div class="contact-form">
							<h3>Leave a Reply </h3>
							<p>Your email address will not be published. Required fields are marked</p>
							<form action="#">
								<label>Comment</label>
								<textarea id="comment" rows="8" cols="45" name="comment"></textarea>
								<label>name</label>
								<input type="text" />
								<label>Email</label>
								<input type="text" />
								<label>Website</label>
								<input type="text" />
								<button>post comment</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3 mb-30">
					@*<div class="sidebar-widget">
						<h5 class="sidebar-title">Search</h5>
						<form id="search" action="#">
							<input type="text" placeholder="Search" />
							<button>Search</button>
						</form>
					</div>
					<div class="sidebar-widget">
						<h5 class="sidebar-title">Categories</h5>
						<ul class="sidebar-link">
							<li><a href="#">Class Room</a></li>
							<li><a href="#">Convocation</a></li>
							<li><a href="#">Facility</a></li>
							<li><a href="#">library</a></li>
							<li><a href="#">library</a></li>
						</ul>
					</div>*@
					<div class="sidebar-widget">
						<h5 class="sidebar-title">Recent Posts</h5>
						<ul class="widget">
							<li class="widget-bottom">
								<div class="widget-img">
									<a href="news-details.html"><img src="~/assets/img/blog/7.jpg" alt="" /></a>
								</div>
								<div class="widget-title">
									<h4><a href="news-details.html">Publishing and graphic desi</a></h4>
									<span>11 Comment </span>
									<span class="commentsm"><i class="fa fa-calendar"></i>March 6, 2017</span>
								</div>
							</li>
							<li class="widget-bottom">
								<div class="widget-img">
									<a href="news-details.html"><img src="~/assets/img/blog/8.jpg" alt="" /></a>
								</div>
								<div class="widget-title">
									<h4><a href="news-details.html">variation of the ordinary lor</a></h4>
									<span>9 Comment </span>
									<span class="commentsm"><i class="fa fa-calendar"></i>March 6, 2017</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- blog-story-end -->
