<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="dashboard" asp-action="index">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#uni" aria-expanded="false" aria-controls="uni">
              <i class="mdi mdi-bank menu-icon"></i>
              <span class="menu-title">Universiteler</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="uni">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="university" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="university" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#city" aria-expanded="false" aria-controls="city">
              <i class="mdi mdi-city menu-icon"></i>
              <span class="menu-title">Şehirler</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="city">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="city" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="city" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#position" aria-expanded="false" aria-controls="position">
              <i class="mdi mdi-worker menu-icon"></i>
              <span class="menu-title">Pozisyon</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="position">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="position" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="position" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
           <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#team" aria-expanded="false" aria-controls="team">
              <i class="mdi mdi-account-multiple-outline menu-icon"></i>
              <span class="menu-title">Ekibimiz</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="team">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="team" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="team" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#faq" aria-expanded="false" aria-controls="faq">
              <i class="mdi mdi-message menu-icon"></i>
              <span class="menu-title">FAQ</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="faq">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="faq" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="faq" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#about" aria-expanded="false" aria-controls="about">
              <i class="mdi mdi-information menu-icon"></i>
              <span class="menu-title">Hakkımızda</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="about">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="about" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#goal" aria-expanded="false" aria-controls="goal">
              <i class="mdi mdi-playlist-check menu-icon"></i>
              <span class="menu-title">Amaçlarımız</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="goal">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="goal" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="goal" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#news" aria-expanded="false" aria-controls="news">
              <i class="mdi mdi-newspaper menu-icon"></i>
              <span class="menu-title">Haberler</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="news">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="news" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="news" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#feedback" aria-expanded="false" aria-controls="feedback">
              <i class="mdi mdi-comment-account menu-icon"></i>
              <span class="menu-title">Feedback</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="feedback">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="feedback" asp-action="index">Siyahı</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="admin" asp-controller="feedback" asp-action="create">Əlavə et</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>