<footer>
    <div class="footer-top-area black-bg pt-40 pb-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="footer-section mb-30">
                        <a href="#"><img class="footer-logo-az" src="~/assets/img/@ViewBag.Logo" alt="" /></a>
                        <!-- <p>There are many variations of passaes of Ipsum, but the majority have sueratio inome
                            fornjected humour</p> -->
                        <div class="social-icon">
                            <a target="_blank" href="@ViewBag.Facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="@ViewBag.Twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="@ViewBag.Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a target="_blank" href="@ViewBag.Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2">
                    <div class="single-footer mb-30">
                        <!-- <h5>Link</h5> -->
                        <ul class="footer-menu">
                            <li><a asp-controller="about" asp-action="index">Genel Bilgi</a></li>
                            <li><a asp-controller="team" asp-action="index">Ekibimiz</a></li>
                            <li><a asp-controller="university" asp-action="index">Universitetler</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="single-footer mb-30">
                        <!-- <h5>Support</h5> -->
                        <ul class="footer-menu">
                            <li><a asp-controller="news" asp-action="index">Haberler</a></li>
                            <li><a asp-controller="contact" asp-action="index">Iletişim</a></li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-3">
                    <div class="single-footer mb-30">
                         <h5>Our Compus</h5>
                        <ul class="footer-menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Become a Teacher</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom-area default-bg ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        <p style="margin-right: 2rem !important;">
                            Müəllif hüquqları qorunur © 2023 | <a href="https://butagrup.com.tr/?lang=az" target="_blank" bis_skin_checked="1"><img style="width:11rem !important;" src="~/assets/img/FooterLogo2.svg" alt="Buta Logo"></a>
                            <!-- | <a href="https://butagrup.com.tr/?lang=az" target="_blank" style="margin-left: 10px"> Buta Grup</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>